<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Авторизоваться</title>

    <link rel="stylesheet" type="text/css" th:href="@{CSS/security-layout.css}">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <form name="f" th:action="@{/login}" method="POST">

            <div th:if="${param.error}" class="alert alert-error">
                <small class="incorrect">Неверное имя пользователя и пароль.</small>
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                <small class="logout">Вы вышли из системы.</small>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="username">Имя пользователя</label>
                </div>
                <div class="col-75">
                    <input type="text" id="username" name="username"/>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="password">Пароль</label>
                </div>
                <div class="col-75">
                    <input type="password" id="password" name="password"/>
                </div>
            </div>

            <div class="form-actions">
                <input type="submit" value="Вход">
            </div>

        </form>

        <form th:action="@{/register}" method="GET">
            <div class="row">

                <input type="submit" value="Регистрация">

            </div>
        </form>


    </div>
</div>
</body>
</html>
