<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Управлять аккаунтами</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>

<div class="container">

    <h3>Управлять аккаунтами</h3>

    <div class="row">
        <div class="col-50">
            <text>Имя пользователя:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.userName}"></text>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <text>Имя:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.firstName}"></text>
        </div>
    </div>


    <div class="row">
        <div class="col-50">
            <text>Фамилия:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.lastName}"></text>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <text>Email:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.email}"></text>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <text>Телефонный номер:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.phoneNumber}"></text>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <text>Адрес:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.address}"></text>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <text>Город:</text>
        </div>
        <div class="col-75">
            <text th:text="${user.city}"></text>
        </div>
    </div>

    <form th:action="@{/admin/confirmaccountsettings}" th:method="PUT">
        <div class="row">
            <div class="col-50">
                <text>Статус аккаунта:</text>
            </div>

            <div class="col-50">
                <input type="radio" id="accStatus" name="accStatus" value="true" th:checked="${user.enabled == true}">
                <text for="enabled">Аккаунт включен</text>
            </div>

            <div class="col-50">
                <input type="radio" id="accStatus" name="accStatus" value="false" th:checked="${user.enabled == false}">
                <text for="accStatus">Учетная запись отключена</text>
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <text>Роль:</text>
            </div>

            <div class="col-50">
                <input type="radio" id="role" name="role" value="ROLE_USER" th:checked="${user.role.equals('ROLE_USER')}">
                <text for="role">User</text>
            </div>

            <div class="col-50">
                <input type="radio" id="role" name="role" value="ROLE_EMPLOYEE" th:checked="${user.role.equals('ROLE_EMPLOYEE')}">
                <text for="role">Employee</text>
            </div>

            <div class="col-50">
                <input type="radio" id="role" name="role" value="ROLE_ADMIN" th:checked="${user.role.equals('ROLE_ADMIN')}">
                <text for="role">Admin</text>
            </div>

        </div>


        <br/>

        <div class="row">
            <div class="col-50">
                <input type="submit" value="Сохранить">
                <input type="hidden" th:value="PUT" th:name="_method">
                <input type="hidden" th:value="${user.userId}" name="userId">
                <input type="hidden" th:value="${accStatus}">
                <input type="hidden" th:value="${role}">
    </form>
</div>

<div class="col-50">
    <form th:action="@{/admin/manageaccounts}" th:method="GET">
        <input type="submit" value="Отмена" style="background-color: red">
    </form>
</div>
</div>

</div>

</body>
</html>
