<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Дом</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
<ul th:replace="page-layout :: userNavBar"></ul>

<div class="container">
    <h2 th:text="${'Добро пожаловать' + ' ' + currentUser.firstName + ' ' + currentUser.lastName}"></h2>
</div>

<div class="container">

    <h3>Уведомления</h3>

    <div th:if="${booksWithFines.size() == 0 && currentUser.notifications.size() == 0}">
        <p>Уведомлений нет.</p>
    </div>

    <div th:if="${currentUser.notifications.size() > 0}">
        <div class="row" th:each="notification : ${currentUser.notifications}">
            <div class="col-25">
                <text th:text="${notification.notificationDate}"></text>
            </div>
            <div class="col-75" style="width: 90%">
                <text th:text="${notification.notificationMessage}"></text>
            </div>
        </div>
    </div>

    <div th:if="${booksWithFines.size() > 0}">
        <p style="color: red">ПРЕДУПРЕЖДЕНИЕ</p>
        <p>Срок возврата одной или нескольких книг истек. Если возможно, продлите дату возврата или верните книги в библиотеку как можно скорее, чтобы избежать более высоких штрафов.
            Пока все просроченные книги не будут возвращены в библиотеку, новое бронирование не производится.</p>

        <table id="tablestyle">
            <tr>
                <th>Заголовок</th>
                <th>Автор</th>
                <th>Отлично</th>
            </tr>
            <tr th:each="book : ${booksWithFines}">
                <td th:text="${book.key.title}"></td>
                <td th:text="${book.key.author}"></td>
                <td th:if="${book.value > 0}" style="color:red" th:text="${'$ ' + book.value}"></td>
                <td th:if="${book.value == 0}" th:text="${'$ ' + book.value}"></td>
            </tr>
        </table>


    </div>


</div>

</body>
</html>
