<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Часто задаваемые вопросы</title>
    <link rel="styleSheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
<ul th:replace="page-layout :: userNavBar"></ul>

<div class="container">
    <h3>Часто задаваемые вопросы</h3>

    <p>Не можете найти здесь свой ответ? Пожалуйста, свяжитесь с нами по
        отправив электронное письмо на адрес customerservice@library.com</p>

    <h4>На какой срок я могу брать книгу?</h4>
    <p>Книги можно взять в аренду на 21 день. Этот период можно продлевать на одну неделю, но не более чем на три недели. Продление бесплатно
        и может быть сделано только в том случае, если никто другой не бронировал эту конкретную книгу. Статус ваших книг
        можно проверить в своей учетной записи личной библиотеки на нашем веб-сайте.</p>

    <h4>Как я могу зарезервировать книгу?</h4>
    <p>Найдите книгу через личную учетную запись библиотеки на нашем веб-сайте и нажмите кнопку «Зарезервировать книгу». Бронирование действительно в течение 7 дней и стоит 1 доллар за книгу.
        Если книгу не заберут в течение 7 дней, бронирование автоматически аннулируется.</p>

    <h4>Что произойдет, если я не смогу вернуть книгу вовремя?</h4>
    Штраф в размере 0,20 долларов США за книгу взимается в день. При хранении книги, которую следовало вернуть, оговорки
    не могут быть сделаны, и новые заказы не могут быть получены.

    <h4>Что будет, если я потеряю книгу?</h4>
    <p>Пожалуйста, свяжитесь с нашей службой поддержки как можно скорее. Библиотека взимает небольшую плату за книгу в зависимости от
        по его стоимости.</p>
</div>

</body>
</html>
