<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Дата возврата не может быть продлена</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>

<div class="container">
    <h3>Дата возврата не может быть продлена</h3>

    <p>Дата возврата книги, которую вы пытаетесь продлить, не может быть продлена. Возможные причины:
        <br/><br/>
        - Достигнут максимальный срок использования.<br/>
        - Срок возврата уже продлен на 3 недели.<br/>
        - Кто-то зарезервировал книгу.<br/><br/>

        Не забудьте вовремя вернуть эту книгу в библиотеку.
    </p>


    <div class="row">
        <form th:action="@{/user/yourbooks}" method="GET">
            <input style="width: 200px" type="submit" value="Вернитесь к своим книгам">
        </form>
    </div>

</div>

</body>
</html>
