<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Установите для бронирования значение "Готово к получению"</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
<div class="container">
    <h3>Настроить резервирование книги на готовность к получению</h3>
    <p>Уверены ли вы?</p>
    <p>Вы собираетесь установить для этой книги статус "Готово к получению":</p>

    <div class="row">
        <div class="col-50">
            Заголовок:
        </div>
        <div class="col-75">
            <text th:text="${book.title}"></text>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            Автор:
        </div>
        <div class="col-75">
            <text th:text="${book.author}"></text>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            Год выпуска:
        </div>
        <div class="col-75">
            <text th:text="${book.releaseYear}"></text>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            Версия
        </div>
        <div class="col-75">
            <text th:text="${book.edition}"></text>
        </div>
    </div>

    <p><b><text th:text="${user.firstName + ' ' + user.lastName}"></b>получит уведомление.</p>

    <div class="row">
        <div class="col-50">
            <form th:action="@{/employee/updatebookreservation}" th:method="PUT">
                <input type="submit" value="Да">
                <input type="hidden" th:name="_method" th:value="PUT">
                <input type="hidden" th:name="bookId" th:value="${book.bookId}">
                <input type="hidden" th:name="userId" th:value="${user.userId}">
            </form>
        </div>
        <div class="col-50">
            <form th:action="@{/employee/reservations}" method="GET">
                <input style="background-color: red" type="submit" value="Нет">
            </form>
        </div>
    </div>

</div>

</body>
</html>
