<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Уверены ли вы?</title>

    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>

<div class="container">

    <h3>Вы уверены, что хотите удалить эту книгу?</h3>

    <div class="row">
        <div class="col-50">
            <label>Заголовок: </label>
        </div>
        <div class="col-75">
            <label th:text="${deleteBook.title}"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <label>Автор: </label>
        </div>
        <div class="col-75">
            <label th:text="${deleteBook.author}"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <label>Год выпуска: </label>
        </div>
        <div class="col-75">
            <label th:text="${deleteBook.releaseYear}"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <label>Версия: </label>
        </div>
        <div class="col-75">
            <label th:text="${deleteBook.edition}"></label>
        </div>
    </div>

    <div class="row">
        <div class="col-50">
            <form action="/employee/books/deletebook" th:method="DELETE">
                <input type="submit" value="Удалить книгу" style="background-color: red">
                <input type="hidden" th:value="${deleteBook.bookId}" name="deleteBookId">
                <input type="hidden" name="_method" th:value="DELETE">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            </form>
        </div>
        <div class="col-75">
            <input type="submit" value="Отменить без удаления" style="width: 200px">
        </div>
    </div>

</body>
</html>
