<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<ul th:fragment="userNavBar">
    <li><a href="/user">Дом</a></li>
    <li><a href="/user/yourbooks">Твои книги</a></li>
    <li><a href="/user/browsebooks">Просмотр книг</a></li>
    <li><a href="/user/yourreservations">Ваши бронирования</a></li>
    <li><a href="/user/FAQ">Часто задаваемые вопросы</a></li>
    <li style="float:right"><a class="active" href="/logout">Выйти</a></li>
</ul>

<ul th:fragment="employeeNavBar">
    <li><a href="/employee">Дом</a></li>
    <li><a href="/employee/users/showusers">Пользователи</a></li>
    <li><a href="/employee/books/showbooks">Каталог</a></li>
    <li><a href="/employee/orders">Разместить заказ</a></li>
    <li><a href="/employee/returnedbooks">Вернуть книги</a></li>
    <li><a href="/employee/reservations">Процесс бронирования</a></li>
    <li style="float:right"><a class="active" href="/logout">Выйти</a></li>
</ul>

<ul th:fragment="adminNavBar">
    <li><a href="/admin">Дом</a></li>
    <li><a href="/admin/manageaccounts">Управлять аккаунтами</a></li>
    <li style="float:right"><a class="active" href="/logout">Выйти</a></li>
</ul>

</body>
</html>
